<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../styles/site_new_design.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/myStyle.css"/>
    <title>Document</title>
</head>
<body>
    <div id="container">                                                                                                
        <div class="card">
            <div class="card-item__info">
                <img src="../img/img_0.jpg" width="300px" height="200px" alt="">
                <div class="card-item__title">
                    Asian meat 40 cm
                </div>
                <div class="card-item__description">
                    Minced beef, lamb, beef, sausage Muslim steamed and smoked, sauce, mozzarella cheese, Bulgarian pepper, olives, oregano, Basil, cheese Dutch.
                </div>
            </div>
            <div class="action">
                <div class="price">
                    570<i>&nbsp;s</i>
                </div>
                <div class="count">
                    <button class="material-icons">keyboard_arrow_left</button>
                    <input class="number" type="number" min="1" step="1" value="1">
                    <button class="count-button count-up"></button>
                </div>
                <button class="button__order">
                    Order
                </button>
            </div>
        </div>                                                                                                
        <div class="card--item">
            <div class="card--item-info">
                <div class="card--item--prev">
                    <img src="../img/img_0.jpg" width="300px" height="200px" alt="">
                </div>
                <div class="card--item--title">
                   American 40 cm
                </div>
                <div class="card--item--description pointer--description">
                    Sauce, mozzarella cheese, tomatoes, ham boiled and smoked,headlights,sausage,smoked ham, mushrooms, bell pepper, Dutch cheese,olives, oregano, and Basil.
                </div>
            </div>
            <div class="card--item-action">
                <div class="price">
                                    560<i>&nbsp;s</i>
                            </div>
                <div class="count">
                    <div class="count-button count-down"></div>
                    <input type="number" min="1" step="1" value="1">
                    <div class="count-button count-up"></div>
                </div>
                <input type="hidden" class="url" value="/cart/add/90324?language=en">
                <input type="hidden" class="redirect" value="/dominopizza?language=en">
                <button type="submit" class="status active bay_item">
                    Order
                </button>
            </div>
        </div>                                                                                                                                            
    </div>
</body>
</html>